/client/node_modules
/client/.next/
/client/.env.local
client/out/
client/build
client/npm-debug.log*
client/.vercel
client/*.tsbuildinfo
client/next-env.d.ts


# Python
server/app/*__pycache__/
*.py[cod]
*$py.class
*.so
.Python
server/.env
server/.venv/
server/build/
server/dist/
server/chroma_db
server/*.txt
server/logs/*.log

# IDE
.vscode/
.idea/
*.swp
*.swo

# Database
server/*.db
server/*.sqlite
# Docker
.dockerignore
# Testing
server/.pytest_cache/
